@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

#__next {
  background: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  user-select: none;
  @apply text-gray-300;
}

@keyframes scroll {
  100% {
    transform: translateY(0);
  }
}
.bg-flow {
  transform: translateY(-66.6%);
  animation: scroll 60s linear infinite;
}
.bg-flow:first-child {
  animation-duration: 30s;
}
.ScrollbarsCustom-Wrapper {
  inset: 0 !important;
}
.ScrollbarsCustom-Thumb {
  background: #111 !important;
}
.ScrollbarsCustom-TrackY {
  width: 6px !important;
}
.bg-05 {
  background-color: #050505;
}
