@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

h1 {
  font-weight: 200;
}
.c-scrollbar_thumb {
  background-color: #222;
}

#nprogress .bar {
  background: #eee;
}
#nprogress .peg {
  box-shadow: 0 0 10px #eee, 0 0 5px #eee;
}

.swal2-success-fix,
.swal2-success-circular-line-right,
.swal2-success-circular-line-left,
.swal2-popup {
  background-color: #111 !important;
}

.swal2-title {
  color: #ccc !important;
}
.swal2-confirm {
  border-radius: 0!important;
  font-weight: 400!important;
  border: 1px solid #222!important;
  color: #ccc!important;
  width: 80%!important;
  background-color: #080808!important;
  box-shadow: none!important;

}
.swal2-x-mark-line-left {
  left: auto!important;
}
.swal2-x-mark-line-right {
  right: auto!important;
}